/* Import preflight before any of our CSS so we can override it. */
@tailwind preflight;

/* CitizenNet core CSS ...
** @import "citizennet-css"
*/

/* Import utilities after our CSS to avoid overwriting them. */
@tailwind utilities;

/* cn utilities */

.cc-teal { caret-color: config('colors.teal'); }
.no-content { content: ''; }
.no-outline { outline: none; }
.offscreen { @apply absolute; left: -999em; }
.scale-0 { transform: scale(0); }
.scale-1 { transform: scale(1); }

/* pseudo utilities */

.after\:absolute:after { @apply .absolute; }
.after\:all-02s-ease:after { transition: all 0.2s ease; }
.after\:bg-grey-darkest:after { @apply .bg-grey-darkest; }
.after\:bg-teal:after { @apply .bg-teal; }
.after\:block:after { @apply .block; }
.after\:h-3:after { @apply .h-3; }
.after\:h-4:after { @apply .h-4; }
.after\:left-w-6\/2--w-4\/2:after { left: calc((config('width.6') / 2) - (config('width.3') / 2)); }
.after\:no-content:after { @apply .no-content; }
.after\:pin-l:after { @apply .pin-l; }
.after\:rounded-full:after { @apply .rounded-full; }
.after\:rounded-lg:after { @apply .rounded-lg; }
.after\:top-w-6\/2--w-4\/2:after { top: calc((config('width.6') / 2) - (config('width.3') / 2)); }
.after\:w-3:after { @apply .w-3; }
.after\:w-3:after { @apply .w-3; }
.after\:w-4:after { @apply .w-4; }
.before\:absolute:before { @apply .absolute; }
.before\:all-02s-ease:before{ transition: all 0.2s ease; }
.before\:bg-teal:before { @apply .bg-teal; }
.before\:border-solid:before { @apply .border-solid; }
.before\:border:before { @apply .border; }
.before\:h-6:before { @apply .h-6; }
.before\:no-content:before { @apply .no-content; }
.before\:pin-l:before { @apply .pin-l; }
.before\:pin-t:before { @apply .pin-t; }
.before\:rounded-full:before { @apply .rounded-full; }
.before\:w-6:before { @apply .w-6; }
.checked\:sibling\:bg-teal:checked + * { @apply .bg-teal; }
.checked\:sibling\:after\:opacity-100:checked + *:after { @apply .opacity-100; }
.checked\:sibling\:after\:scale-1:checked + *:after { @apply .scale-1; }
.checked\:sibling\:after\:transform-w-4-0:checked + *:after { transform: translate(config('width.4'), 0); }
.checked\:sibling\:before\:bg-teal:checked + *:before { @apply .bg-teal; }
.disabled\:bg-grey-light:disabled { @apply .bg-grey-light; }
.focus\:no-outline:focus { @apply .no-outline; }
.not\:checked\:sibling\:after\:opacity-0:not(:checked) + *:after { @apply .opacity-0; }
.not\:checked\:sibling\:after\:scale-0:not(:checked) + *:after { @apply .scale-0; }
