version: 2

defaults: &defaults
  working_directory: ~/ui-guide
  docker:
    - image: thomashoneyman/purescript:0.0.2

jobs:
  test:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          keys:
            - v0.0-npm-cache-{{ .Branch }}-{{ checksum "package.json" }}
            - v0.0-npm-cache-{{ .Branch }}
            - v0.0-npm-cache

      - restore_cache:
          keys:
            - v0.0-bower-cache-{{ .Branch }}-{{ checksum "bower.json" }}
            - v0.0-bower-cache-{{ .Branch }}
            - v0.0-bower-cache

      - run:
          name: Install Bower and NPM dependencies
          command: npm install # postinstall runs Bower

      - run:
          name: Verify the project and all components build successfully
          command: npm run build-ui

      - save_cache:
          key: v0.0-npm-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - ~/ui-guide/node_modules

      - save_cache:
          key: v0.0-bower-cache-{{ .Branch }}-{{ checksum "bower.json" }}
          paths:
            - ~/ui-guide/bower_components
            - ~/ui-guide/output

      # Persist generated JS into the workspace
      - persist_to_workspace:
          root: dist
          paths:
            .

  docs:
    <<: *defaults
    steps:
      - checkout

      - run:
          name: Prepare branches locally
          command: |
            git checkout gh-pages
            git checkout master
            git pull

      - run:
          name: Set up gh-pages in worktree for easy artifact copying
          command: |
            mkdir ../gh-pages
            git worktree add ../gh-pages gh-pages

      - attach_workspace:
          at: dist

      - restore_cache:
          keys:
            - v0.0-css-cache-{{ .Branch }}-{{ checksum "css/package.json" }}
            - v0.0-css-cache-{{ .Branch }}
            - v0.0-css-cache

      - run:
          name: Build CSS
          command: |
            npm run install-css
            npm run build-css-prod

      - save_cache:
          key: v0.0-css-cache-{{ .Branch }}-{{ checksum "css/package.json" }}
          paths:
            - ~/ui-guide/css/node_modules

      # TODO:
      # Use conditional statements to avoid committing when
      # the CSS has not been changed in merge.

      # Enable building docs with read/write SSH key
      - add_ssh_keys:
          fingerprints:
            - "53:31:90:1f:78:25:11:3a:1b:5d:a6:2f:04:7c:cb:39"

      - run:
          name: Add built CSS file to master branch on GitHub
          command: |
            git add dist
            git config --global user.email "dev@citizennet.com"
            git config --global user.name "CircleCI"
            git commit --allow-empty -m "CSS built by CircleCI"
            # Preface with dist- to avoid recursive builds
            git tag dist-$CIRCLE_BUILD_NUM
            git push --follow-tags origin master

      - run:
          name: Push files to gh-pages branch on GitHub
          command: |
            rm -rf ../gh-pages/dist
            mv dist ../gh-pages/dist
            cd ../gh-pages  # Moves into gh-pages branch using worktree
            git config --global user.email "dev@citizennet.com"
            git config --global user.name "CircleCI"
            git commit --allow-empty -a -m "Build triggered by CircleCI"
            git push -u origin gh-pages

workflows:
  version: 2
  build:
    jobs:
      - test

      # On master branch, rebuild documentation site
      - docs:
          filters:
            branches:
              only: master
            tags:
              ignore: /^dist-.*/

          requires:
            - test
