version: 2

defaults: &defaults
  working_directory: ~/ocelot
  docker:
    - image: circleci/node:10.15-browsers
  environment:
    RTS_ARGS: +RTS -N2 -RTS

jobs:
  test:
    <<: *defaults
    steps:
      - checkout

      - restore_cache:
          keys:
            - v4-yarn-cache-{{ .Branch }}-{{ checksum "package.json" }}
            - v4-yarn-cache-{{ .Branch }}
            - v4-yarn-cache

      - restore_cache:
          keys:
            - v1-spago-cache-{{ .Branch }}-{{ checksum "spago.dhall" }}
            - v1-spago-cache-{{ .Branch }}
            - v1-spago-cache

      - run:
          name: Verify the project and all components build successfully
          command: make build

      - run:
          name: Verify all version-controlled artifacts are up to date
          command: |
            if [[ `git status <<parameters.path>> --porcelain` ]]
            then
              echo "ERROR: running the previous command has introduced changes. Hence, Failing the build."
              git status --porcelain
              exit 1
            fi

      - save_cache:
          key: v4-yarn-cache-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - ~/ocelot/node_modules

      - save_cache:
          key: v1-spago-cache-{{ .Branch }}-{{ checksum "spago.dhall" }}
          paths:
            - ~/ocelot/.spago
            - ~/ocelot/output

      # Persist generated JS into the workspace
      - persist_to_workspace:
          root: dist
          paths:
            .

  docs:
    <<: *defaults
    steps:
      - checkout

      - run:
          name: Prepare branches locally
          command: |
            git checkout gh-pages
            git checkout master

      - run:
          name: Set up gh-pages in worktree for easy artifact copying
          command: |
            mkdir ../gh-pages
            git worktree add ../gh-pages gh-pages

      - attach_workspace:
          at: dist

      - restore_cache:
          keys:
            - v3-css-cache-{{ .Branch }}-{{ checksum "css/package.json" }}
            - v3-css-cache-{{ .Branch }}
            - v3-css-cache

      - run:
          name: Build CSS
          command: |
            make build-css

      - save_cache:
          key: v3-css-cache-{{ .Branch }}-{{ checksum "css/package.json" }}
          paths:
            - ~/ocelot/css/node_modules

      # Enable building docs with read/write SSH key
      - add_ssh_keys:
          fingerprints:
            - "53:31:90:1f:78:25:11:3a:1b:5d:a6:2f:04:7c:cb:39"

      - run:
          name: Push files to gh-pages branch on GitHub
          command: |
            rm -rf ../gh-pages/dist
            cp -r dist ../gh-pages/dist
            cd ../gh-pages  # Moves into gh-pages branch using worktree
            git config --global user.email "dev@citizennet.com"
            git config --global user.name "CircleCI"
            git add .
            git commit --allow-empty -m "Build triggered by CircleCI"
            git push -u origin gh-pages

workflows:
  version: 2
  build:
    jobs:
      - test:
          filters:
            branches:
              ignore: gh-pages

      # On master branch, rebuild documentation site
      - docs:
          filters:
            branches:
              only: master

          requires:
            - test
